<div id="detailcon">
	<div id="prevbtn"><a href="javascript:photoGrid.prevPerson()">«</a></div>
	<div id="closebtn">X</div>
	<div id="photocon"><img width="115" height="135" src="imgs/{{ photo }}"></div>
	<div style="float: left">
		<div id="name">{{ name }}</div>
		<div id="data1" class="dataDisp"><p>Data 1: {{ data1 }}</p></div>
		<div id="data2" class="dataDisp"><p>Data 2: {{ data2 }}</p></div>
		<div id="data3" class="dataDisp"><p>Data 3: {{ data3 }}</p></div>
	</div>
	<div style="clear:both"></div>
	<div id="blurb">{{ blurb }}</div>
	<div id="nextbtn"><a href="javascript:photoGrid.nextPerson()">»</a></div>
</div>